// -----Color---------
$color-black:#000000;
$color-gray:#999999;
$color-blue:#00adef;
$color-white:#ffffff;
$cl-text:#777777;
$color-lightback:#202020;
$bg-color:#009bd6;
$color-grayblack: #1d1d1d;
$color-bg-title:  rgba(0,0,0,0.4);
$color-bg-title-hover: rgba(0,0,0,0.7);
$color-bg-input:#2a2a2a;


// ---------Padding-----------
$pd-1:5px;
$pd-top:90px;
$pd-bottom:30px;
$pd-field:50px 0;

// --------------Fontsize-----------
$fs-1:16px;
$fs-2:30px;
$fs-3:40px;
$fs-4:48px;

// ------Responsive--------
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
// ----------------Margin---
$mg-1:50px 0;
$mg-2:50px 0 40px 0;
$mg-3:30px;

$width:100px;
$height:3px;


$fw-normal: normal;
$fw-1:400;
$fw-2:700;
$fw-bold:bold;