.header{
    background: $color-black;
   
    color: $color-white;
    font-size: $fs-1;
    .header__info{
       span{
            b{
              
                border: 1px solid $color-gray;
                padding: $pd-1 - 4 $pd-1;
                margin-right: 5px;
            }
            &:hover{
                color: $color-blue;
                b{
                    border: 1px solid $color-blue;
                }
            }
       }
       
    }
    .navbar-nav{
        position: relative;
        font-size: $fs-1;
        .nav-item{
            margin: 0 5px;
            padding: $pd-1 + 5;
            .nav-link{
                color: $color-white;
                &:hover{
                    color: $color-blue;
                }
            }
        }
    }
}